<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  {{ title }}
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{ title }} Class
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              autofocus
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
            />
            <div *ngIf="fc.name.errors?.['required']">
              <div
                class="alert alert-danger"
                *ngIf="fc.name.invalid && fc.name.touched"
              >
                Name is required
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="rooms" class="form-label">Semesters</label>
            <select
              class="form-control form-select"
              name=""
              id=""
              formControlName="selectedSemester"
              (change)="addSemesterSelected($event)"
            >
              <option value="">Choose Semester</option>
              <option *ngFor="let semester of semesters" [value]="semester.id">
                {{ semester.name }}
              </option>
            </select>
          </div>
        </form>
        <div style="max-height: 100px; overflow-y: auto">
          <div class="list-group">
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let semester of semestersSelected"
            >
              {{ semester.name }}
              <div
                class="btn btn-danger btn-sm"
                (click)="removeSemesterSelected(semester.name)"
              >
                Remove
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="onCancel()"
        >
          Close
        </button>
        <button
          type="button"
          data-bs-dismiss="modal"
          class="btn btn-primary"
          (click)="onSubmit()"
          [disabled]="fc.name.invalid"
        >
          {{ title }}
        </button>
      </div>
    </div>
  </div>
</div>
